body, html {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: relative
  ;margin: 0 auto;
}

img {width:100%;}

label {font-size:17px;font-weight:bold;}

div {position:absolute;overflow:auto;padding:5px;}

button {outline:none;}

.chat {height:450px;width:30%; left:16%;border:5px solid navy;}

.chat2 { height:450px; width:30%; right:16%;border:5px solid green;}

#date1, #date2 {font-style:italic; text-decoration: underline;}

#logoutbutton {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position:absolute;
  top:2%;right:1%;
  width: 120px;
  border-radius: 20px 20px 20px 20px;
}

#backtochat {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 120px;
  border-radius: 20px 20px 20px 20px;
}

#profile {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position:absolute;
  top:2%;left:1%;
  width: 120px;
  border-radius: 20px 20px 20px 20px;
}

#sendmsgbutton {
  font-size: 15px;
  font-weight: bold;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
}

#outc {background-color:#D8F47A}

#inc {background-color: #B4E5E3;}

#from {font-style:italic; color:navy;}

#me {font-style:italic; color:green;}

.writesth {top:500px; left:32%;}

h3 a, h4 a {text-decoration:none; color:blue;}
h1 {font-size: 55px;}

input[type=text], input[type=password] {
  padding: 15px;
  margin: 3px 0 6px 0;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
  width: 185px;
}

input[type=text], input[type=password] {
  padding: 15px;
  margin: 3px 0 6px 0;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
  width: 185px;
}
input[type=text], input[type=password]:focus {outline:none;}

#loginbutton {
  font-size: 15px;
  font-weight: bold;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
}

#loginbutton:hover {background: black; color:white;}

#regbutton {
  font-size: 15px;
  font-weight: bold;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
}
#regbutton:hover {background: black; color:white;}

.loginform, .regform {margin-top: 20px;}
  
#homebutton {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  margin-top: 1%;
  width: 120px;
  border-radius: 20px 20px 20px 20px;
}
#homebutton:focus, #loginbutton:focus, #regbutton:focus {outline:none;}